/*new page start*/
.slider-arrivals {
    display: flex;
    background-color: #f8f3f4;
    margin-bottom: 59px;
}

.slider-box-arr {
    min-height: 148px;
}

.slider-text-arr {
    min-height: 18px;
    display: flex;
    align-items: center;
    line-height: 20px;
    text-transform: uppercase;
    padding-top: 69px;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 300;
    width: 1140px;
}

.slider-text-arr p {
    padding-left: 770px;
}

.slider-link-arr {
    text-decoration: none;
    color: #636363;
}

.slider-link-arr:active,
.slider-link-arr:hover {
    color: #f16d7f;
}

/*список товаров @media screen and (max-width: 1599px) and (min-width: 1441px)
.page-content .main-content {
    justify-content: center;*/
.galler-prod {
    display: flex;
    margin-bottom: 113px;
    flex-flow: row wrap;
}

/*выпадающий список*/
.categorys {
    width: 243px;
    min-height: 1475px;
    margin-right: 30px;
    /*49*/
}


.top-filter {
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 74px;
    color: #6f6e6e;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.top-filter .top-f1 {
    width: 226px;
}

#tf1 {
    padding-top: 25px;
}

.top-f1 p {
    width: 176px;
    color: #dfdfdf;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.top-f1 .trend {
    text-decoration: none;
    color: #6f6e6e;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: none;
}

.trend:active,
.trend:hover {
    color: #ef5b70;
}

.top-filter .top-f2 {
    width: 236px;
}

.fildest lable {
    color: #6f6e6e;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;

}
.fildest input{
 margin: 0px 9px 0px 0px;
 background-color: #ef5b70; 

}
#fil2{width: 186px;}
p.fildest {
    width: 226px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.top-filter .top-f3 {
    width: 226px;
}
.top-f3 p{
    
}
#range{width: 256px;}

.product-arr {
    display: flex;
    flex-flow: column wrap;
}

.product-arr .product-menu-arr {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 847px;
}

.product-menu-list {
    margin-bottom: 39px;
    list-style-type: none;
    position: relative;
}

.product-link {
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;

}

.product-link h3 {
    padding-left: 15px;
    line-height: 2;
    padding-top: 12px;
}

.product-link img {
    width: 100%;
}


.filter {
    height: 50px;
    width: 100%;
    display: flex;
    margin-bottom: 48px;
    margin-top: 40px;
    background-color: #f3f3f3;
    flex-wrap: nowrap;
    color: #6f6e6e;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

form3.filter-form1 {
    width: 153px;
    height: 30px;
    display: flex;
    margin: 10px 10px 10px 10px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;

}

form4.filter-form2 {
    width: 119px;
    height: 30px;
    display: flex;
    margin: 10px 10px 10px 0;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
}

button.bnt1-filter {
    width: 90px;
    height: 30px;
    border: none;
    border-left: 1px solid #ebebeb;
    background-color: #ffffff;
    outline: none;
    color: #6f6e6e;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    position: relative;
    left: 8px;
}

.bnt1-filter i {
    padding-left: 18px;
}

button.bnt2-filter {
    width: 70px;
    height: 30px;
    border: none;
    border-left: 1px solid #ebebeb;
    background-color: #ffffff;
    outline: none;
    color: #6f6e6e;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    position: relative;
    left: 8px;
}

.bnt2-filter i {
    padding-left: 18px;
}

/*кнопка после списка товров*/
.bnt-product-arr {
    display: flex;
    margin-bottom: 113px;
}

.product-pages {
    width: 229px;
    height: 44px;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;
}

.pagination-list {
    text-decoration: none;
    color: #c4c4c4;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    line-height: 26px;
}

.pagination-list:active,
.pagination-list:hover {
    color: #ef5b70;
    cursor: pointer;
}

.button-arr {
    display: flex;
    color: #ef5b70;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: normal;
    text-decoration: none;
    width: 150px;
    height: 44px;
    background-color: #ffffff;
    border: 1px solid #ef5b70;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 436px;
}


.button-arr:active,
.button-arr:hover {
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    cursor: pointer;
    border-color: #f2f2f2;
    color: #f16d7f;
}

.slider2-pro {
    min-height: 341px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #222224;
    height: 341px;
}


.slider2-list-pro {
    width: 100%;
    margin-top: 89px;
}

#ico_4.slider2-li-pro,
#ico_5.slider2-li-pro,
#ico_6.slider2-li-pro {
    display: flex;
    flex-flow: column wrap;
    align-items: center;

}

.slider2-menu-pro {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;

}

.slider2-list-pro p {
    margin-top: 21px;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px;
    font-family: 'Lato';
}

.slider2-li-pro {
    color: #fbfbfb;
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    width: 310px;
}

.slider2-li-pro img {
    padding-bottom: 32px;
}

.slider2-link-pro {
    text-decoration: none;
    color: #fbfbfb;
}

.slider2-link-pro:active,
.slider2-link-pro:hover {
    color: #f16d7f;
}
